<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-warning">
            <a class="navbar-brand" href="/"><strong>Поисковая система v0.00000001</strong></a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/map_search">Поиск на карте</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/wiki_search">Поиск в Википедии</a>
                </li>
            </ul>
        </nav>
    </header>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
    <footer class="page-footer fixed-bottom bg-warning">
        <div class="footer-copyright text-center text-dark">
            © 2019 Nikolay Nyunin
        </div>
    </footer>
</body>
</html>