{% extends "base.html" %}

{% block content %}
    <form>
        <div class="alert alert-warning row" role="alert">
            <div class="col-11">
                <input type="search" name="search" class="form-control">
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-warning">Поиск</button>
            </div>
        </div>
    </form>
    {% if address or code %}
        <div class="alert alert-dark" role="alert">
            {% if address %}
                Полный адрес: {{ address }}<br>
            {% endif %}
            {% if code %}
                Почтовый индекс: {{ code }}
            {% endif %}
        </div>
    {% endif %}
    {% if image %}
        <img src="{{ image }}" alt="Здесь должна была быть карта, что-то пошло не так" class="img-fluid">
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
{% endblock %}