{% extends "base.html" %}

{% block content %}
    <form>
        <div class="alert alert-warning row" role="alert">
            <div class="col-11">
                {% if text %}
                    <input type="search" name="search" class="form-control" value="{{ text }}">
                {% else %}
                    <input type="search" name="search" class="form-control">
                {% endif %}
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-warning">Поиск</button>
            </div>
        </div>
    </form>
    {% if data %}
        {% for item in data %}
            <div class="alert alert-dark" role="alert">
                <h3>{{ item["title"] }}</h3>
                <p>{{ item["description"] }}</p>
                <a href="{{ item['link'] }}">Смотреть в Википедии</a>
            </div>
        {% endfor %}
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
{% endblock %}